<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách Blog</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Danh sách Blog</h2>
        <a href="/blogs/create" class="btn btn-success">+ Tạo mới</a>
    </div>
    <form method="get" action="/blogs" class="row mb-3">
        <div class="col-md-4">
            <input type="text" name="keyword" class="form-control"
                   placeholder=" Tìm theo tiêu đề..."
                   th:value="${keyword}">
        </div>
        <div class="col-md-3">
            <select name="categoryId" class="form-select">
                <option value="">-- Tất cả danh mục --</option>
                <option th:each="c : ${categories}"
                        th:value="${c.id}"
                        th:text="${c.name}"
                        th:selected="${c.id == categoryId}">
                </option>
            </select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary w-100">Tìm</button>
        </div>
    </form>

    <div class="card shadow">
        <div class="card-body">

            <table class="table table-hover align-middle">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Tiêu đề</th>
                    <th>Tác giả</th>
                    <th>Danh mục</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="b : ${blogs.content}">
                    <td th:text="${b.id}"></td>
                    <td th:text="${b.title}"></td>
                    <td th:text="${b.author}"></td>
                    <td th:text="${b.category != null ? b.category.name : ''}"></td>
                    <td><a th:href="@{'/blogs/edit/' + ${b.id}}" class="btn btn-warning btn-sm">Sửa</a> <a
                            th:href="@{'/blogs/delete/' + ${b.id}}" class="btn btn-danger btn-sm"> Xoá </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-3">
        <a th:if="${blogs.hasPrevious()}"
           class="btn btn-sm btn-primary"
           th:href="@{/blogs(page=${blogs.number - 1}, keyword=${keyword}, categoryId=${categoryId})}">
            Previous
        </a>

        <span th:text="${blogs.number + 1}"></span> /
        <span th:text="${blogs.totalPages}"></span>

        <a th:if="${blogs.hasNext()}"
           class="btn btn-sm btn-primary"
           th:href="@{/blogs(page=${blogs.number + 1}, keyword=${keyword}, categoryId=${categoryId})}">
            Next
        </a>
    </div>

</div>

</body>
</html>