<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>
    <th:block th:insert="~{layout/layout.html}"/>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">Danh sách sản phẩm</h2>
    <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Mô tả</th>
            <th>Nhà sản xuất</th>
            <th>Hành động</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product,status : ${products}">
            <td th:text="${status.count}"></td>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.manufacturer}"></td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.id})}"
                   class="btn btn-warning btn-sm">Edit</a>
                <a class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-end">
        <a th:href="@{/products/create}" class="btn btn-success">+ Thêm sản phẩm </a>
    </div>
</div>
</body>
</html>